
@using SigmaExplorer.Shared

@if (Block != null && Block.height > 0)
{
    <div class="container">
	    <div class="row">
            <div class="col-xl-12">
                <RadzenCard Class="m-0">
                    <table class='table'>
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Header ID</td>
                                <td style="word-break: break-all;">@Block.header.extension.headerId</td>
                            </tr>
                            <tr>
                                <td>Digest</td>
                                <td style="word-break: break-all;">@Block.header.extension.digest</td>
                            </tr>
                            <tr>
                                <td>Fields (currently broken in graphql)</td>
                                <td style="word-break: break-all;">@Block.header.extension.fields</td>
                            </tr>
                        </tbody>
                    </table>
                </RadzenCard>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string? HeaderId { get; set; }
    [Parameter]
    public int? Height { get; set; }
    [Parameter]
    public GQLBlockDetail Block { get; set; }
    private int blockHeight = 0;

    protected override async Task OnInitializedAsync()
    {
        if (Block == null)
        {
            Block = await GraphQLInterface.GetBlock(HeaderId, Height);
        }
    
        blockHeight = Block.height;
    }
}
