
@using SigmaExplorer.Shared

@if (Address != null && Address.address != null && Address.address != "")
{

    <RadzenCard Class="m-0" Style="overflow: overlay;">
        <table class='table'>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Address</td>
                    <td>@Address.address</td>
                </tr>
                <tr>
                    <td>Balance</td>
                    <td>@String.Format("{0} ERG",Convert.ToDouble(Address.balance.nanoErgs)/1000000000)</td>
                </tr>
            </tbody>
        </table>
    </RadzenCard>
}
else
{
    <div class="col-xl-12">Loading...</div>
}

@code {
    [Parameter]
    public string? address { get; set; }
    private GQLAddress? Address = null;

    protected override async Task OnParametersSetAsync()
    {
        Address = null;
        StateHasChanged(); 
        Address = await GraphQLInterface.GetAddressInfo(address);
		StateHasChanged(); 
	}
}
