@inherits LayoutComponentBase
@using System.Web
@inject NavigationManager NavigationManager
@inject HttpUtility HttpUtility

<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <article class="content px-4">
            @Body
        </article>
        <div class="content" style="position: absolute; bottom: 0; text-align: center; line-height: normal;">
            <RadzenText Style="color: #000; word-break: break-all; font-size: 10px;" TextStyle="TextStyle.Caption">Donations: @Globals.DonationAddress</RadzenText><br />
        </div>
    </main>


        

</div>

@code {
    protected override void OnInitialized()
    {
        string currentUrl = NavigationManager.Uri;
        /*var query = new Uri(NavigationManager.Uri).Query;
        string network = Uri.UnescapeDataString(HttpUtility.ParseQueryString(query).Get("network"));
        var subdomain = new Uri(NavigationManager.Uri).
        if (network == "testnet")
            {
            Globals.GraphQLEndpoint = "https://gql-testnet.ergoplatform.com";
        }
        Console.WriteLine(currentUrl);
        Console.WriteLine(network);*/
        string? subdomain = Tools.GetSubDomain(new Uri(NavigationManager.Uri));
        if (subdomain == "testnet")
        {
            Console.WriteLine(subdomain);
            Globals.GraphQLEndpoint = Globals.TestnetGraphQLEndpoint;
        }
    }
}
